version: '3.7'
services:
  react:
    stdin_open: true 
    tty: true
    container_name: react_frontend
    build:
      context: client
      dockerfile: Dockerfile
    ports:
      - 3001:80
    environment:
      - CHOKIDAR_USEPOLLING=true

  flask:
    container_name: flask_backend
    build:
      context: server
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    environment:
      - CHOKIDAR_USEPOLLING=true
